version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    command: gunicorn CoreApi.wsgi:application --bind 0.0.0.0:8000 --workers 4
    env_file:
      - ./.env.prod
    volumes:
      - media:/app/media
      - static:/app/staticfiles
    depends_on:
      - postgres
      - redis
    restart: always
    # ❌ no ports in prod (nginx only)

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: celery
    command: celery -A CoreApi worker -l info
    env_file:
      - ./.env.prod
    depends_on:
      - redis
      - postgres
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    env_file:
      - ./.env.prod
    restart: always
    # ❌ no ports in prod (nginx only)

  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - ./.env.prod
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: always
    # ❌ no ports in prod

  redis:
    image: redis:7
    container_name: redis
    restart: always
    # ❌ no ports in prod

  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf:ro
      - media:/media
      - static:/staticfiles
      - certbot-www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
      - frontend
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt
    entrypoint: >
      sh -c "certbot renew --webroot -w /var/www/certbot --quiet"
    restart: unless-stopped

volumes:
  postgres:
  media:
  static:
  certbot-www:
  letsencrypt:
